body {
  background-color: #fff;
  padding: 25px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: -0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

img {
  border: 0;
}

a {
  box-sizing: border-box;
}

select,
input,
textarea {
  font-size: 16px;
}

ul {
  list-style: none;
}

input::-webkit-contacts-auto-fill-button {
  position: absolute;
  right: 0;
  display: none !important;
  pointer-events: none;
  visibility: hidden;
}

input {
  background-color: transparent;
  background-image: none !important;
  border: 0;
}

button {
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0;
}
